<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1b9df497-5d6f-4a22-a98c-cb2ac7f0ea12/resourcegroups/EfaPlayground/providers/Microsoft.Web/sites/auri-efa-net301-nov2017-elevennote-web</ResourceId>
    <ResourceGroup>EfaPlayground</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://auri-efa-net301-nov2017-elevennote-web.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>auri-efa-net301-nov2017-elevennote-web.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>auri-efa-net301-nov2017-elevennote-web</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$auri-efa-net301-nov2017-elevennote-web</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=auri-efadbserver.database.windows.net,1433;Initial Catalog=ElevenNoteNov2017;Persist Security Info=True;User ID=efasa;Password=ANoAwb$NdC#2TLl^77LMt##FY1Cdr8r7" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ElevenNote.Data.ApplicationDbContext, ElevenNote.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=auri-efadbserver.database.windows.net,1433;Initial Catalog=ElevenNoteNov2017;Persist Security Info=True;User ID=efasa;Password=ANoAwb$NdC#2TLl^77LMt##FY1Cdr8r7</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>